<% include header %>
<div class="container">
  <div class="page-header">
    <h1><%= title %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Welcome to <%= title %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <a href="/watch">
        <button type="button" class="btn btn-info btn-lg btn-block">
          Watch all the jsk repositories on github!
        </button>
      </a>
    </div>
  </div>
</div>
<% include footer %>
